<a href="https://colab.research.google.com/github/stakunlena/ich_python_for_DA_HW/blob/main/Stakun_HW_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Домашняя работа №9**

**1. Заполнение пустых значений**

Загрузите датасет titanic из библиотеки seaborn, определите столбцы с пустыми значениями и заполните их любым из возможных методов.

In [ ]:
import seaborn as sns
import pandas as pd

# Загружаем датасет
titanic = sns.load_dataset("titanic")

# Проверяем пропуски
print("Количество пропусков до заполнения:")
print(titanic.isnull().sum())

# Заполняем пропуски корректно
for column in titanic.columns:
    if titanic[column].dtype in ["float64", "int64"]:
        titanic[column] = titanic[column].fillna(titanic[column].mean())
    else:
        titanic[column] = titanic[column].fillna(titanic[column].mode()[0])

# Проверяем результат
print("\nКоличество пропусков после заполнения:")
print(titanic.isnull().sum())

Количество пропусков до заполнения:
survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

Количество пропусков после заполнения:
survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
deck           0
embark_town    0
alive          0
alone          0
dtype: int64

**2. Кодирование категориальных переменных**

Загрузите датасет titanic из библиотеки seaborn, определите категориальную переменную и закодируйте её.

In [ ]:
import seaborn as sns
import pandas as pd

# 1. Загружаем датасет Titanic
titanic = sns.load_dataset("titanic")

# 2. Смотрим первые строки, чтобы понять структуру
print("Первые строки датафрейма:")
print(titanic.head())

# 3. Определяем категориальные переменные
print("\nТипы данных в датафрейме:")
print(titanic.dtypes)

# Например, возьмём категориальный столбец 'sex'
print("\nУникальные значения в столбце 'sex':")
print(titanic["sex"].unique())

# 4. Кодируем категориальную переменную 'sex' в числовую форму
titanic["sex_code"] = titanic["sex"].map({"male": 0, "female": 1})

# 5. Проверяем результат
print("\nПосле кодирования:")
print(titanic[["sex", "sex_code"]].head())

Первые строки датафрейма:
   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True

Типы данных в датафрейме:
survived          int64
pclass            int64
sex              object
age             float64
sibsp             int64
parch             int64
fare            float64
embarked         object
class          category
who              object
adult_male         bool
deck           category
embark_town      object
alive            object
alone              bool
dtype: object

Уникальные значения в столбце 'sex':
['male' 'female']

После кодирования:
      sex  sex_code
0    male         0
1  female         1
2  female         1
3  female         1
4    male         0